<footer class='footer bg-dark py-3 mt-auto'>
    <div class='container'>
        <span style="color: white;">Created by <a href="https://www.linkedin.com/in/david-trannam/">David Trannam</a></span>
    </div>
</footer>
