<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/itinerary">View All</a>
        <form action="/create" method="POST" id='newItem'>
         <!-- User Input -->
        <label for="label">Enter a title:    </label>
        <input type="text" id='name' maxlength="10" name='name'>
        <br>
        <label for="location">Enter a location:</label>
        <input type="text" id="location" name='location' maxlength="15">
        <br>
        <label for="about">Enter a short description about this plan:</label>
        <input type="text" maxlength="280" name='desc'>
        <br>
        <!-- Predefined Selection for filtering -->
        <label for="traveler">What type of travelers?</label>
        <select name="traveler" id="traveler">
            <option value="Solo">Solo - For travelers who want to indulge in yourself</option>
            <option value="Couples">Couples - For romatic getaways with your significant others</option>
            <option value="Family">Family Friend - For trips with the family who may not be as adventerous</option>
            <option value="Friends">Group Trip - The more the merrier! </option>
            <option value="Mixed">Mixed - Good for anyone! </option>
        </select>
        <br>
        <label for="focus">What's the theme of this trip?</label>
        <select name="focus" id="focus">
            <option value="nature">Nature - From national parks to raging rivers!</option>
            <option value="resort">Resort - </option>
            <option value="urban">Urban</option>
        </select>
        <br>
        <label for="days">Amount of day (Up to 7):</label>
        <select name="days" id='days'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <br>
        <br>
        <h3>Information:</h3>
        <section id='daysinput'>
            <label for="1">Day 1</label>
            <input type="text" id='items' name='items'>
        </section>
        <input type="submit">
    </form>
    </body>
    <script src="/Scripts/create.js" async defer></script>
    
</html>