<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/home.css" type="text/css">
    </head>
    <h1 id='title'>Itinerary App</h1>
    <body>
        <section id='menu'>
        <div><a href="/create">Plan</a></div>
        <div><a href="/itinerary">Explore</a></div>
        <div>About</div>
        </section>
    </body>
</html>