body {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    background-color: rgb(244, 240, 219);
}

section {
    background-color: rgba(50, 115, 220, 0.3);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: 1px rgba(50, 115, 220, 0.4) solid;
}

h1 {
    text-align: center;
}