body {
    background-image: url('../img/HomeBackground2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #e0a200;
    padding-top: 30%;
    font-family: 'Dosis', sans-serif;
    font-size: 9000px;
    font-weight: bold
}


#menu div {
    padding-top: 5%;
    text-decoration: none;
    color: #e0a200;
}

#menu div a {
    text-decoration: none;
    color: #e0a200;
}

#menu {
    display: flex;
    flex-direction: column;
}