body {
    background-image: url('../img/HomeBackground2.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0a200;
    margin-top: 20%;
}

#menu {
    display: flex;
    justify-content: space-around;
    color: #2a9d8f;
    margin-top: 5%;
}

#menu div {
    border: #2a9d8f 1px solid;
    padding: 10px;
    background-color: #f4a261;
}