body {
    background-color: rgb(244, 240, 219);
}

.format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 10px
}

#return {
    text-decoration: none;
    color: inherit;
}