body {
    background-color: rgb(244, 240, 219);
}

.format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 10px
}

#return {
    text-decoration: none;
    color: inherit;
}

#info {
    margin-top: 5%;
}

.picture {
    width: 640px;
    height: 360px;
    border-radius: 5%
}

h1 {
    text-align: center;
    margin: 5%;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
}

#short {
    text-align: center;
    margin-top: 5%;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 20px
}