
.format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    background-image: url('../img/ViewAll.jpg');
    /* filter: blur(5px); */
    background: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 5%;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}
