body {
    background-color: rgb(244, 240, 219);
}

.format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 15px
}

h1 {
    text-align: center;
    margin: 5%;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}
