<% layout('layout/boilerplate') %>

<body>
    <form action="/user/login" method="POST">
        <h2>Login Page</h2>
        <label for="login">username</label>
        <input type="text" name="login" id="login">
        <label for="password">password</label>
        <input type="password" name='attempt'>
        <input type="submit">
    </form>

</body>