<% layout('layout/boilerplate') %>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <% if(error && error.length) {%>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <% if(failure && failure.length) {%>
        <div class="alert alert-danger" role="alert">
            <%= failure %>
        </div>
    <% } %>

    <form action="/user/login" method="POST">
        <h2>Login Page</h2>
        <div class='col-6 offset-3'>
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" name="username" id="username">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="text" name='password'>
            <br>
            <input class="btn btn-primary" type="submit">
            <br>
            <br>
            <a href="/user/new">Create an account</a>
        </div>
    </form>
    

</body>