<% layout('layout/boilerplate') %>

<body>
    <form action="/user/new" method="POST">
        <h2>Create an Account</h2>
        <label for="username">Username</label>
        <input type="text" name="login" id="login">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit">
    </form>
</body>