<% layout('layout/boilerplate-user') %>


<!-- FINISHED  -->

<body>
    <form action="/user/new" method="POST">
        <div class='col-6 offset-3'>
            <h2>Create an Account</h2>
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="login" id="login">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
            <br>
            <input class="btn btn-primary" type="submit">
        </div>
    </form>
</body>