<% layout('layout/boilerplate-user') %>

<!-- FINISHED  -->


<body>
    <section id='about'>
        <h1>About</h1>
        <p>This travel itineary website was built to share different travel plans and provide some cool information about locations around the world. Follow one of the itineary or make your own based on one of the already created one! Don't forget to contribute to our site!</p>
        <p>Built using JavaScript, Node.JS, and MongoDB</p>
        <p>Features include
            <ul>
                <li>Cloud Image Upload via https://cloudinary.com/</li>
                <li>Deployment via AWS https://aws.amazon.com/</li>
                <li>User autentication via Passport.JS</li>
                <li>Local resturants option via Yelp API</li>
                <li>Background pictures and images is credited to uploads from Unsplash</li>
            </ul>
        </p>
        <p>Created by David Trannam</p>
        <p>Connect with me on <a href="https://www.linkedin.com/in/david-trannam/">Linkedin</a></p>
        
    </section>
</body>
</html>