<% layout('layout/boilerplate') %>
    <body>
    <div class='row'>
        <h1 class=text-center>Create New items</h1>
        <div class='col-6 offset-3'>   
             <form action="/itinerary/create" method="POST" id='newItem' enctype="multipart/form-data">
            <!-- User Input -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id='title' maxlength="20" name='title' required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id="location" name='location' maxlength="15" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Enter a short description about this plan:</label>
                    <textarea aria-label="With textarea" class="form-control" type="text" maxlength="280" name='description' required></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="traveler">Best for</label>
                    <select class="form-control" name="traveler" id="traveler" required>
                        <option value="Solo">Solo</option>
                        <option value="Couples">Couples</option>
                        <option value="Family">Family-Friendly</option>
                        <option value="Friends">Group Trip</option>
                    </select>
                    <ul class="form-text">
                        <li>Solo - Best for the lone explorer</li>
                        <li>Couples - For romatic getaways</li>
                        <li>Family Friendly - Keeping it PG!</li>
                        <li>Groups - Best with Friends!</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="theme">Type of Trip</label>
                    <select class="form-control" name="theme" id="theme" required>
                        <option value="nature">Nature</option>
                        <option value="resort">Resort</option>
                        <option value="urban">Urban</option>
                        <option value="road-trip">Road Trip</option>
                        <option value="Mixed">Mixed</option>
                    </select>
                    <ul class="form-text">
                        <li>Nature - From exploring new lands, camping, or just being out at a lake! </li>
                        <li>Resort/Cruise - The stay is the vacation! </li>
                        <li>Urban - New cities, new sites</li>
                        <li>Road Trip - Are we there yet?</li>
                        <li>Mixed - Why not all of them?</li>
                    </ul>
                </div>
                <label class="form-label" for="images">Upload Image(s) to share</label>
                <input class="form-control-file" type="file"name="images" accept="image/png, image/jpeg">
            <label class="form-label" for="days">Amount of day (Up to 7):</label>
            <select class="form-control" name="days" id='days' required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <p class="form-text">Note changing the days will reset the information below</p>
            <br>
            <br>
            <h2>Information:</h2>
            <section id='daysinput' class="mb-2">
                <label class="form-label" for="1">Day 1</label>
                <input class="form-control" type="text" id='items' name='items' required>
            </section>
            <input type="submit" class="btn btn-success">
        </div>
        </form>
    </div>
    </body>
    <script src="/Scripts/create.js" async defer></script>
    
</html>