<% layout('layout/boilerplate') %>

<body>
    <form action="/user/new" method="POST">
        <h2>Create an Account</h2>
        <label for="clientuser">Username</label>
        <input type="text" name="clientuser" id="clientuser">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit">
    </form>
</body>